body {
    color: #1a5be0;
    font-family: Arial, sans-serif;
    font-size: 30px;


}

.title {
    text-align: center;
    color: crimson;
}


.table {
    border: 2px solid #822bc6;
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}

.table th {
    padding: 5px 10px 15px 20px;
    color: chartreuse;
    border: 2px solid #822bc6;
}

.table td {
    border: 2px solid #822bc6;


}

.table tfoot td {
    text-align: right;
}

.text-red {
    color: crimson;
    font-weight: 700;
    font-style: italic;
}

/*Post*/
.post {
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #524d4d;
    padding: 15px 25px;
    background-color: #f6ed99;
    background-image: url("../img/электромонтер.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    backgroung-position: center;

}


/*Gradient*/
.gradient {
    width: 600px;
    height: 300px;
    background-image: linear-gradient(45deg,#fff, #ccc);
}

.post-title {
    margin: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 400px;
}


.post-text {
    margin: 0 0 10px 0;
}
